<div ng-controller="DashboardController">

	<p>
		Hi! We're so excited you want to Flo with us!
	</p>

	<p>
		We can't wait to help you live your life easier by tracking your period on your Google Calendar. First there are a few things you have to get set up.
	</p>

	<ul class="list-unstyled">
		<li>You'll have to create a NEW calendar for your period. You can call it whatever you wish, "My Flo,"  "Crimson Wave," "Mis Días," etc.</li>
		<li>You'll have to create an <strong>event</strong> every time you want to start, end, or make a note about your period.</li>
		<li>Create an event at TIME on the day you want to start/end/add a note for your period. ADD THIS STRING/INSTRUCTIONS</li>
		<li>Click <a href="">here</a> to go to your Google Calendar and get started!</li>
	</ul>

</div>