<div ng-controller="HomeController">

<br/>

<div class="row text-center">

	<div class="col-md-6 col-sm-6 col-md-offset-3 text-center">

		<h4 class="text-center">
			Your time is valuable, we get that, Flo is our way of trying to help. Create your free account and we'll help you manage your cycle around everything else you have to do on your Google Calendar — so you can go with the flow!
		</h4>

		<br/>

		<a a href="#/login" role="button" class="btn btn-lg" type="submit" style="background-color: #00CD00; color: white; border-color: #00CD00;" >
			Get Started
		</a>

	</div>

</div>

</div>