<div ng-controller="HomeController">

	<div class="container">
		<br/>

		<div class="row text-center">
			<h4 class="text-center">
				Your time is valuable — Flo is our way of trying to help. We'll help you manage your cycle around everything else you have to do on your Google Calendar — so you can relax and go with the flo!
			</h4>

			<br />

			<a a href="#/login" role="button" class="btn btn-lg" type="submit" style="background-color: #00CD00; color: white; border-color: #00CD00;">
				Get Started
			</a>
		</div>

		<br />

	</div>

</div>