
<div ng-controller="LoginController">

	<div class="container">
		<form class="form-signin" role="form">
			<h2 class="text-center">Login</h2>
			<br/>

			<button id="authorize-button" class="btn btn-lg btn-block" style="background-color: #00CD00; color: white; border-color: #00CD00; margin-bottom: 20px;" ng-click="handleAuthClick()">
				Authorize
			</button>

			<div date-range id="pickerRange" start="dates.minDate" end="dates.maxDate" date-change="changeDate" view="date" min-view="date"></div>

			<button id="event-button" class="btn btn-lg btn-block"
					style="background-color: #00CD00; color: white; border-color: #00CD00; margin-top: 20px;"
					ng-click="createEvent()">
			CREATE EVENT
			</button>

<!-- 			<div class="event"></div>
 -->		</form>

	</div>

</div>
