<!-- remember to add a note here that says "make sure you're not logged into any other google accounts or that you are logged into the right calendar account or something" -->

<div ng-controller="LoginController">
	<div class="container">
		<form class="form-signin" role="form">
			<h2 class="text-center">Login</h2>
			<br/>

			<button id="authorize-button" class="btn btn-lg btn-block" style="background-color: #00CD00; color: white; border-color: #00CD00;" ng-click="handleAuthClick()">
				Authorize
			</button>



			<div>&nbsp;</div>

			<div date-picker></div>

			<button id="event-button" class="btn btn-lg btn-block" style="background-color: #00CD00; color: white; border-color: #00CD00;" ng-click="createEvent()">
			CREATE EVENT
			</button>

			<div class="event"></div>
		</form>

	</div>

</div>
